In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### 读取原始数据

In [60]:
df = pd.read_csv("../Tianchi_power.csv")

df9 = pd.read_csv("../Tianchi_power_9.csv")

df = pd.concat([df,df9])

df['record_date'] = pd.to_datetime(df['record_date'])
df.head()

  record_date  user_id  power_consumption
0  2015-01-01        1               1135
1  2015-01-02        1                570
2  2015-01-03        1               3418
3  2015-01-04        1               3968
4  2015-01-05        1               3986

In [37]:
df_test = base_df[(base_df.record_date>='2016-08-31')&(base_df.record_date<='2016-09-30')]
df_test['record_date'] = pd.DataFrame(df_test['record_date']+pd.Timedelta('31 days'))
df_test.shape#head()

(31, 2)

In [69]:
combine = pd.concat([base_df, df_test]).sort_values(['record_date'])
# base_df.shape

# df = base_df
combine.shape#head()
# combine.loc['20161001','power_consumption'] = 0#range(10)
# combine.loc['20161001':'20161010',:] = 0#range(10)
# combine.loc['20161001':'20161010',:]

(670, 2)

In [71]:
isworkday = combine#[['record_date']]
# isworkday.tail(70)

In [72]:
isworkday['dow'] = isworkday['record_date'].apply(lambda x: x.dayofweek)
def setworkday(dow):
    if dow == 5 or dow == 6:
        return 0
    else:
        return 1
isworkday['isworkday'] = isworkday['dow'].apply(setworkday)

isworkday.tail(66)

    record_date  power_consumption  dow  isworkday
604  2016-08-27          3610828.0    5          0
605  2016-08-28          3446470.0    6          0
606  2016-08-29          3681879.0    0          1
607  2016-08-30          3607667.0    1          1
608  2016-08-31          3664003.0    2          1
609  2016-09-01          3683282.0    3          1
610  2016-09-02          3723110.0    4          1
611  2016-09-03          3490429.0    5          0
612  2016-09-04          3258102.0    6          0
613  2016-09-05          3681162.0    0          1
614  2016-09-06          3582158.0    1          1
615  2016-09-07          3480405.0    2          1
616  2016-09-08          3584115.0    3          1
617  2016-09-09          3729301.0    4          1
618  2016-09-10          3695458.0    5          0
619  2016-09-11          3424545.0    6          0
620  2016-09-12          3715688.0    0          1
621  2016-09-13          3814278.0    1          1
622  2016-09-14          3758030.0    2          1
623  2016-09-15          2982572.0    3          1
624  2016-09-16          3210144.0    4          1
625  2016-09-17          3555462.0    5          0
626  2016-09-18          3832516.0    6          0
627  2016-09-19          3894787.0    0          1
628  2016-09-20          3929544.0    1          1
629  2016-09-21          4043865.0    2          1
630  2016-09-22          4021526.0    3          1
631  2016-09-23          4045334.0    4          1
632  2016-09-24          3943147.0    5          0
633  2016-09-25          3811406.0    6          0
..          ...                ...  ...        ...
609  2016-10-02          3683282.0    6          0
610  2016-10-03          3723110.0    0          1
611  2016-10-04          3490429.0    1          1
612  2016-10-05          3258102.0    2          1
613  2016-10-06          3681162.0    3          1
614  2016-10-07          3582158.0    4          1
615  2016-10-08          3480405.0    5          0
616  2016-10-09          3584115.0    6          0
617  2016-10-10          3729301.0    0          1
618  2016-10-11          3695458.0    1          1
619  2016-10-12          3424545.0    2          1
620  2016-10-13          3715688.0    3          1
621  2016-10-14          3814278.0    4          1
622  2016-10-15          3758030.0    5          0
623  2016-10-16          2982572.0    6          0
624  2016-10-17          3210144.0    0          1
625  2016-10-18          3555462.0    1          1
626  2016-10-19          3832516.0    2          1
627  2016-10-20          3894787.0    3          1
628  2016-10-21          3929544.0    4          1
629  2016-10-22          4043865.0    5          0
630  2016-10-23          4021526.0    6          0
631  2016-10-24          4045334.0    0          1
632  2016-10-25          3943147.0    1          1
633  2016-10-26          3811406.0    2          1
634  2016-10-27          4042132.0    3          1
635  2016-10-28          4287965.0    4          1
636  2016-10-29          4086998.0    5          0
637  2016-10-30          3941842.0    6          0
638  2016-10-31          3783264.0    0          1

[66 rows x 4 columns]

In [73]:
isworkday = isworkday.set_index(['record_date'])

In [75]:
# isworkday

In [16]:
# 放假日转换

2015-01-01 0
2015-01-02 0
2015-01-03 0
2015-01-04 1
2015-02-15 1
2015-02-18-24 0
2015-02-28 1
2015-03-05 0 ###### 元宵 
2015-04-06 0
2015-05-01 0
2015-06-22 0
2015-07-01 0 建党节
2015-09-03-04 0 抗日战争记念日 
2015-09-06 1
2015-10-01-07 0
2015-10-10 1

2016-01-01 0
2016-02-06 1
2016-02-07-13 0
2016-02-14 1
2016-02-22 0 ###### 元宵 
2016-04-04 0
2016-05-02 0
2016-06-09-10 0
2016-06-12 1
2016-07-01 0 建党节
2016-09-15-16 0
2016-09-18 1
2016-10-01-07 0
2016-10-08-09 1

SyntaxError: invalid syntax (<ipython-input-16-e4217dc77d7d>, line 3)

In [88]:
workdayflag = [
    
('2015-01-01', 0),
('2015-01-02', 0),
('2015-01-03', 0),
('2015-01-04', 1),
('2015-02-15', 1),
('2015-02-18', 0),
('2015-02-18', 0),
    ('2015-02-19', 0),
    ('2015-02-20', 0),
    ('2015-02-21', 0),
    ('2015-02-22', 0),
    ('2015-02-23', 0),
    ('2015-02-24', 0),
('2015-02-28', 1),
('2015-03-05', 0), ###### 元宵 
('2015-04-06', 0),
('2015-05-01', 0),
('2015-06-22', 0),
('2015-07-01', 0), ### 建党节
('2015-09-03', 0), ### 抗日战争记念日 
('2015-09-04', 0),

('2015-09-06', 1),
('2015-10-01', 0),
('2015-10-02', 0),
('2015-10-03', 0),
    ('2015-10-04', 0),
    ('2015-10-05', 0),
    ('2015-10-06', 0),
    ('2015-10-07', 0),
('2015-10-10', 1),

('2016-01-01', 0),
('2016-02-06', 1),
('2016-02-07', 0),
    ('2016-02-08', 0),
    ('2016-02-09', 0),
    ('2016-02-10', 0),
    ('2016-02-11', 0),
    ('2016-02-12', 0),
    ('2016-02-13', 0),
('2016-02-14', 1),
('2016-02-22', 0), ###### 元宵 
('2016-04-04', 0),
('2016-05-02', 0),
('2016-06-09', 0),
    ('2016-06-10', 0),
('2016-06-12', 1),
('2016-07-01', 0), ##建党节
('2016-09-15', 0),
    ('2016-09-16', 0),
('2016-09-18', 1),
    
('2016-10-01', 0),
('2016-10-02', 0),
('2016-10-03', 0),
    ('2016-10-04', 0),
    ('2016-10-05', 0),
    ('2016-10-06', 0),
    ('2016-10-07', 0),
('2016-10-08', 1),
    ('2016-10-09', 1),
]
df1 = isworkday#.set_index('record_date')


from datetime import datetime 
import time

# curtime = datetime.today()
# curtime = curtime.strftime('%m%d_%H%M%S')


for day, flag in workdayflag:
    print(day, flag)
    day = datetime.strptime(day, '%Y-%m-%d')
    day = day.strftime('%Y%m%d')
#     print(day)
    df1.loc[day,'isworkday'] = flag
#     df1.loc[df1[df1.record_date==day].index,'isworkday'] = flag
    print(df1.loc[day,:].values)

('2015-01-01', 0)
[ 0.  3.  0.]
('2015-01-02', 0)
[ 0.  4.  0.]
('2015-01-03', 0)
[ 0.  5.  0.]
('2015-01-04', 1)
[ 1.  6.  1.]
('2015-02-15', 1)
[ 1.  6.  1.]
('2015-02-18', 0)
[ 0.  2.  0.]
('2015-02-18', 0)
[ 0.  2.  0.]
('2015-02-19', 0)
[ 0.  3.  0.]
('2015-02-20', 0)
[ 0.  4.  0.]
('2015-02-21', 0)
[ 0.  5.  0.]
('2015-02-22', 0)
[ 0.  6.  0.]
('2015-02-23', 0)
[ 0.  0.  0.]
('2015-02-24', 0)
[ 0.  1.  0.]
('2015-02-28', 1)
[ 1.  5.  1.]
('2015-03-05', 0)
[ 0.  3.  0.]
('2015-04-06', 0)
[ 0.  0.  0.]
('2015-05-01', 0)
[ 0.  4.  0.]
('2015-06-22', 0)
[ 0.  0.  0.]
('2015-07-01', 0)
[ 0.  2.  0.]
('2015-09-03', 0)
[ 0.  3.  0.]
('2015-09-04', 0)
[ 0.  4.  0.]
('2015-09-06', 1)
[ 1.  6.  1.]
('2015-10-01', 0)
[ 0.  3.  0.]
('2015-10-02', 0)
[ 0.  4.  0.]
('2015-10-03', 0)
[ 0.  5.  0.]
('2015-10-04', 0)
[ 0.  6.  0.]
('2015-10-05', 0)
[ 0.  0.  0.]
('2015-10-06', 0)
[ 0.  1.  0.]
('2015-10-07', 0)
[ 0.  2.  0.]
('2015-10-10', 1)
[ 1.  5.  1.]
('2016-01-01', 0)
[ 0.  4.  0.]
('2016-02-06', 1)
[ 1.  5.  1.]
('2016-02-07', 0)
[ 0.  6.  0.]
('2016-02-08', 0)
[ 0.  0.  0.]
('2016-02-09', 0)
[ 0.  1.  0.]
('2016-02-10', 0)
[ 0.  2.  0.]
('2016-02-11', 0)
[ 0.  3.  0.]
('2016-02-12', 0)
[ 0.  4.  0.]
('2016-02-13', 0)
[ 0.  5.  0.]
('2016-02-14', 1)
[ 1.  6.  1.]
('2016-02-22', 0)
[ 0.  0.  0.]
('2016-04-04', 0)
[ 0.  0.  0.]
('2016-05-02', 0)
[ 0.  0.  0.]
('2016-06-09', 0)
[ 0.  3.  0.]
('2016-06-10', 0)
[ 0.  4.  0.]
('2016-06-12', 1)
[ 1.  6.  1.]
('2016-07-01', 0)
[ 0.  4.  0.]
('2016-09-15', 0)
[ 0.  3.  0.]
('2016-09-16', 0)
[ 0.  4.  0.]
('2016-09-18', 1)
[ 1.  6.  1.]
('2016-10-01', 0)
[ 0.  5.  0.]
('2016-10-02', 0)
[ 0.  6.  0.]
('2016-10-03', 0)
[ 0.  0.  0.]
('2016-10-04', 0)
[ 0.  1.  0.]
('2016-10-05', 0)
[ 0.  2.  0.]
('2016-10-06', 0)
[ 0.  3.  0.]
('2016-10-07', 0)
[ 0.  4.  0.]
('2016-10-08', 1)
[ 1.  5.  1.]
('2016-10-09', 1)
[ 1.  6.  1.]

In [90]:
df1#.loc[df1[df1.record_date=='2016-10-01'].index,'isworkday'] = 0

             power_consumption  dow  isworkday
record_date
2015-01-01                 0.0    3          0
2015-01-02                 0.0    4          0
2015-01-03                 0.0    5          0
2015-01-04                 1.0    6          1
2015-01-05           4101790.0    0          1
2015-01-06           4149164.0    1          1
2015-01-07           4161928.0    2          1
2015-01-08           4182622.0    3          1
2015-01-09           4153509.0    4          1
2015-01-10           3913704.0    5          0
2015-01-11           3635468.0    6          0
2015-01-12           4011329.0    0          1
2015-01-13           3969860.0    1          1
2015-01-14           4225259.0    2          1
2015-01-15           4106437.0    3          1
2015-01-16           4074699.0    4          1
2015-01-17           4053950.0    5          0
2015-01-18           3827153.0    6          0
2015-01-19           4099085.0    0          1
2015-01-20           4166022.0    1          1
2015-01-21           4091559.0    2          1
2015-01-22           4197553.0    3          1
2015-01-23           4153027.0    4          1
2015-01-24           3841539.0    5          0
2015-01-25           3658452.0    6          0
2015-01-26           3969836.0    0          1
2015-01-27           4250943.0    1          1
2015-01-28           4146675.0    2          1
2015-01-29           4155199.0    3          1
2015-01-30           4015565.0    4          1
...                        ...  ...        ...
2016-10-02                 0.0    6          0
2016-10-03                 0.0    0          0
2016-10-04                 0.0    1          0
2016-10-05                 0.0    2          0
2016-10-06                 0.0    3          0
2016-10-07                 0.0    4          0
2016-10-08                 1.0    5          1
2016-10-09                 1.0    6          1
2016-10-10           3729301.0    0          1
2016-10-11           3695458.0    1          1
2016-10-12           3424545.0    2          1
2016-10-13           3715688.0    3          1
2016-10-14           3814278.0    4          1
2016-10-15           3758030.0    5          0
2016-10-16           2982572.0    6          0
2016-10-17           3210144.0    0          1
2016-10-18           3555462.0    1          1
2016-10-19           3832516.0    2          1
2016-10-20           3894787.0    3          1
2016-10-21           3929544.0    4          1
2016-10-22           4043865.0    5          0
2016-10-23           4021526.0    6          0
2016-10-24           4045334.0    0          1
2016-10-25           3943147.0    1          1
2016-10-26           3811406.0    2          1
2016-10-27           4042132.0    3          1
2016-10-28           4287965.0    4          1
2016-10-29           4086998.0    5          0
2016-10-30           3941842.0    6          0
2016-10-31           3783264.0    0          1

[670 rows x 3 columns]

In [97]:

# df1.loc['2015-01-01', isworkday] = 0
df = df1.drop('dow',axis=1)
df1.tail(60)

             power_consumption  dow  isworkday
record_date
2016-09-02           3723110.0    4          1
2016-09-03           3490429.0    5          0
2016-09-04           3258102.0    6          0
2016-09-05           3681162.0    0          1
2016-09-06           3582158.0    1          1
2016-09-07           3480405.0    2          1
2016-09-08           3584115.0    3          1
2016-09-09           3729301.0    4          1
2016-09-10           3695458.0    5          0
2016-09-11           3424545.0    6          0
2016-09-12           3715688.0    0          1
2016-09-13           3814278.0    1          1
2016-09-14           3758030.0    2          1
2016-09-15                 0.0    3          0
2016-09-16                 0.0    4          0
2016-09-17           3555462.0    5          0
2016-09-18                 1.0    6          1
2016-09-19           3894787.0    0          1
2016-09-20           3929544.0    1          1
2016-09-21           4043865.0    2          1
2016-09-22           4021526.0    3          1
2016-09-23           4045334.0    4          1
2016-09-24           3943147.0    5          0
2016-09-25           3811406.0    6          0
2016-09-26           4042132.0    0          1
2016-09-27           4287965.0    1          1
2016-09-28           4086998.0    2          1
2016-09-29           3941842.0    3          1
2016-09-30           3783264.0    4          1
2016-10-01                 0.0    5          0
2016-10-02                 0.0    6          0
2016-10-03                 0.0    0          0
2016-10-04                 0.0    1          0
2016-10-05                 0.0    2          0
2016-10-06                 0.0    3          0
2016-10-07                 0.0    4          0
2016-10-08                 1.0    5          1
2016-10-09                 1.0    6          1
2016-10-10           3729301.0    0          1
2016-10-11           3695458.0    1          1
2016-10-12           3424545.0    2          1
2016-10-13           3715688.0    3          1
2016-10-14           3814278.0    4          1
2016-10-15           3758030.0    5          0
2016-10-16           2982572.0    6          0
2016-10-17           3210144.0    0          1
2016-10-18           3555462.0    1          1
2016-10-19           3832516.0    2          1
2016-10-20           3894787.0    3          1
2016-10-21           3929544.0    4          1
2016-10-22           4043865.0    5          0
2016-10-23           4021526.0    6          0
2016-10-24           4045334.0    0          1
2016-10-25           3943147.0    1          1
2016-10-26           3811406.0    2          1
2016-10-27           4042132.0    3          1
2016-10-28           4287965.0    4          1
2016-10-29           4086998.0    5          0
2016-10-30           3941842.0    6          0
2016-10-31           3783264.0    0          1

In [98]:
df = df.reset_index()
df = df.drop('power_consumption',1)
df

    record_date  isworkday
0    2015-01-01          0
1    2015-01-02          0
2    2015-01-03          0
3    2015-01-04          1
4    2015-01-05          1
5    2015-01-06          1
6    2015-01-07          1
7    2015-01-08          1
8    2015-01-09          1
9    2015-01-10          0
10   2015-01-11          0
11   2015-01-12          1
12   2015-01-13          1
13   2015-01-14          1
14   2015-01-15          1
15   2015-01-16          1
16   2015-01-17          0
17   2015-01-18          0
18   2015-01-19          1
19   2015-01-20          1
20   2015-01-21          1
21   2015-01-22          1
22   2015-01-23          1
23   2015-01-24          0
24   2015-01-25          0
25   2015-01-26          1
26   2015-01-27          1
27   2015-01-28          1
28   2015-01-29          1
29   2015-01-30          1
..          ...        ...
640  2016-10-02          0
641  2016-10-03          0
642  2016-10-04          0
643  2016-10-05          0
644  2016-10-06          0
645  2016-10-07          0
646  2016-10-08          1
647  2016-10-09          1
648  2016-10-10          1
649  2016-10-11          1
650  2016-10-12          1
651  2016-10-13          1
652  2016-10-14          1
653  2016-10-15          0
654  2016-10-16          0
655  2016-10-17          1
656  2016-10-18          1
657  2016-10-19          1
658  2016-10-20          1
659  2016-10-21          1
660  2016-10-22          0
661  2016-10-23          0
662  2016-10-24          1
663  2016-10-25          1
664  2016-10-26          1
665  2016-10-27          1
666  2016-10-28          1
667  2016-10-29          0
668  2016-10-30          0
669  2016-10-31          1

[670 rows x 2 columns]

In [99]:

df.to_csv('../feature/feature_isworkday.csv',index=False)

In [93]:
df
df.tail(60)#.head()

             power_consumption  isworkday
record_date
2016-09-02           3723110.0          1
2016-09-03           3490429.0          0
2016-09-04           3258102.0          0
2016-09-05           3681162.0          1
2016-09-06           3582158.0          1
2016-09-07           3480405.0          1
2016-09-08           3584115.0          1
2016-09-09           3729301.0          1
2016-09-10           3695458.0          0
2016-09-11           3424545.0          0
2016-09-12           3715688.0          1
2016-09-13           3814278.0          1
2016-09-14           3758030.0          1
2016-09-15                 0.0          0
2016-09-16                 0.0          0
2016-09-17           3555462.0          0
2016-09-18                 1.0          1
2016-09-19           3894787.0          1
2016-09-20           3929544.0          1
2016-09-21           4043865.0          1
2016-09-22           4021526.0          1
2016-09-23           4045334.0          1
2016-09-24           3943147.0          0
2016-09-25           3811406.0          0
2016-09-26           4042132.0          1
2016-09-27           4287965.0          1
2016-09-28           4086998.0          1
2016-09-29           3941842.0          1
2016-09-30           3783264.0          1
2016-10-01                 0.0          0
2016-10-02                 0.0          0
2016-10-03                 0.0          0
2016-10-04                 0.0          0
2016-10-05                 0.0          0
2016-10-06                 0.0          0
2016-10-07                 0.0          0
2016-10-08                 1.0          1
2016-10-09                 1.0          1
2016-10-10           3729301.0          1
2016-10-11           3695458.0          1
2016-10-12           3424545.0          1
2016-10-13           3715688.0          1
2016-10-14           3814278.0          1
2016-10-15           3758030.0          0
2016-10-16           2982572.0          0
2016-10-17           3210144.0          1
2016-10-18           3555462.0          1
2016-10-19           3832516.0          1
2016-10-20           3894787.0          1
2016-10-21           3929544.0          1
2016-10-22           4043865.0          0
2016-10-23           4021526.0          0
2016-10-24           4045334.0          1
2016-10-25           3943147.0          1
2016-10-26           3811406.0          1
2016-10-27           4042132.0          1
2016-10-28           4287965.0          1
2016-10-29           4086998.0          0
2016-10-30           3941842.0          0
2016-10-31           3783264.0          1